<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/styles.css">
  <meta charset="utf-8">
  <title>In_Their_Shoes</title>
  <header>
    <h1 class="header">In their shoes</h1>
  </header>
</head>

<body>
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>
