<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="public/css/skeleton.css">
    <link rel="stylesheet" href="public/css/normalize.css">
    <link rel="stylesheet" href="public/css/styles.css">
    <meta charset="utf-8">
    <title>In_Their_Shoes</title>
  </head>
  <body>
    {{body}}
  </body>
</html>
