<title>Home</title>
<form class="home-header" method="post">
  <h1>Hello There</h1>
  <h2>STEP IN TO THE CLIENTS SHOES</h2>
  <hr>
  <input type="submit" name="nextButton" value="next" style="background: rgba(255, 255, 255, 0.5); color: black">
</form>
