<div class="instructionDiv">
  <h1>Welcome</h1>

  <div>
    <img class="instructionPic" src="unknown.jpg" alt="An anonymous picture">
    <br><br>
    <p>{{instructions}}</p>
    <br>
    <p> Amount for the month: R{{budget}}
      <form action="" method="post">
        <input type="submit" name="beginButton" value="Let's start budgeting" style="background: rgba(255, 255, 255, 0.5); color: black">
      </form>
  </div>
</div>
<!-- <p>Try to make it through the month without exceeding your budget.</p> -->
