<div class="personaStory" style="background: rgba(0, 0, 0, 0.5)">

  <h3>Well done, you made it to the end of the month!</h3>

  <p>You started with R{{initialBudget}}, and you now have R{{budget}} left. You can see that for many people it is very difficult to make their money last to the end of the month.</p>
  <div class="twelve columns" style="background: rgba(0, 0, 0, 0.4)">
    <div class="row">
      <div class="four columns">
        <img class="profilePic" src="sophia.jpg" align="right" style="width: 19em">
      </div>
      <div class="eight columns">
        <p> Your decisions were based on the life of {{name}}, a JUMO customer who was surveyed this year.<br><br> {{story}} <br>
          <form class="" action="/story" method="post">
            <input type="submit" name="startAgain" value="Try make it through the month again!" style="background: rgba(255, 255, 255, 0.5); color: black">
          </form>
        </p>
      </div>
    </div>
  </div>
</div>
