<div class="uexpense">

  <h1> Unfortunately, there was an unexpected expense...</h1>

  <p> {{text}} </p>

  <p> Your budget was decreased by R{{expense}}. So you have R{{budget}} left.</p>
  <br>
  <form action="" method="post">
    <input type="submit" name="week3" value="Go to next week..." style="background: rgba(255, 255, 255, 0.5); color: black">
  </form>
</div>
