<h1>In their shoes</h1>

<div class="six columns">
    <div class="row">
        <h4>Mandatory expenses:</h4>
        <ul>
            <li>
                Rent: R60
            </li>
            <li>
                School fees : R40
            </li>
            <li>
                Transport : R100
            </li>
            <li>
                Water and electricity : R30
            </li>

        </ul>
        <h4>Groceries:</h4>
    </div>

</div>


<div class="ten columns">
    <div class="row">
        {{#each data.weekOneOptions}}
            <div class="two columns">
                {{productName}}, {{price}};
                <input type="checkbox" value= {{price}} name="weekOneOptions">
            </div>
        {{/each}}
        <!-- <div class="six columns">
            Milk
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            Rice
        </div>
        <div class="six columns">
            Sugar
        </div>
    </div> -->
</div>
