body {
    margin: 0px;
    background-image: url('../background.jpg');
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 5em;
  letter-spacing: .2em
}

h3, h1 {
  font-size: 3em;
  font-weight: bolder;
  letter-spacing: .1em;
  color: #fff;
}

header .header{
  font-size: 4em;
  font-weight: bolder;
}

.redExpenses{
color: red;
font-weight: bolder;
}

.header, .home-header{
    padding: 5px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    margin: 0px;
    text-align: center;
    border-bottom: solid white medium;
}

.home-header {
  font-size: 2.5em;
}
.weeks {
  padding: 40px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  margin: 0px;
  border-bottom: solid white medium;
  font-size: 1.5em;
}

.instructionDiv, .uexpense{
  padding: 40px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  margin: 0px;
  text-align: center;
  border-bottom: solid white medium;
}

.instructionDiv img {
  border-radius: 100%;
}

p {
  font-size: 2em;
  color: #fff;
}

.instructionPic {
    width: 40%;
}

.boxes {
  text-align: center;
  border: solid white 2px;
  margin: 1px;
}

/*.header {
  color: ghostwhite;
  font-size: 3em;
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.3);
  margin: 2px;
  padding: 2px 100px;
}*/

.customBtn {
  background-color: rgba(255, 255, 255, 0.5);
  color: red;
}
