body {
    margin: 0px;
    background-image: url('../background.jpg');
<<<<<<< HEAD
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 5em;
  letter-spacing: .2em
}
=======
    background-size: 100%;
    /*background-color: rgba(0,0,0,0.2);*/
    /*background: rgba(0,0,0,0.2), url('../background.jpg') right no-repeat;*/
>>>>>>> 45290866576a3abd737e1055b5b9b7ee3e636f38

header .header{
  font-size: 4em;
  font-weight: bolder;
}

.header, .home-header{
    padding: 40px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    margin: 0px;
    text-align: center;
    border-bottom: solid white medium;
}

.weeks {
  padding: 40px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  margin: 0px;
  border-bottom: solid white medium;
}

.instructionDiv{
  padding: 40px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  margin: 0px;
  text-align: center;
  border-bottom: solid white medium;
}

.instructionDiv img {
  border-radius: 100%;
}

p {
  font-size: 2em;
}

.instructionPic {
    width: 40%;
}

/*.header {
  color: ghostwhite;
  font-size: 3em;
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.3);
  margin: 2px;
  padding: 2px 100px;
}*/

.customBtn {
  background-color: rgba(255, 255, 255, 0.5);
  color: red;
}
